# Daten des Teamspeak-Servers
ts3user=serveradmin
ts3inst=1
ts3botname=TS3 Verifizierungs-Bot
ts3pass=password
ts3host=127.0.0.1
ts3port=10011

# Daten des mySQL-Servers
mysqlServer=localhost
mysqlPort=3306
mysqlDB=ts3_bot
mysqlUser=root
mysqlPassword=password

# Gruppenkonfiguration
ts3group_guest=8
ts3group_member=7
ts3group_admin=6
setDescription=true

# Rules
checkServer=true
ServerID=2202
checkGuild=false
GuildID=D86D1CCF-3798-41E9-A2E3-9C469F032CD9
